body{margin-top:20px;
    background:#eee;
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}
.table-nowrap .table td, .table-nowrap .table th {
    white-space: nowrap;
}
.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}
table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}
.active {
     font-weight: bold;
     font-size: larger !important;
    font-style: italic !important;
 }
.inactive {
    font-size: medium;
}

body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background: #f8a097 !important;*/
}

.search{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 170px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 1px;
}

.search_input{
    color: #544b4b;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}
.pagination a,
.pagination span {
    display: inline-block;
    padding: 3px 12px;
    margin: 10px 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #f4f4f4;
}
.pagination .active {
    font-weight: bold;
    background-color: #589bf3;
}

.search .search_input{
    padding: 0 10px;
    width: 400px;
    caret-color:red;
    transition: width 0.4s linear;
}

.search:hover > .search_icon{
    background: red;
    color: #fff;
}

.search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    background-color:black;
}

a:link{
    text-decoration:none;
}



.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

