.formlogin{

}

.form {
    width: 700px; /* Adjust width as needed */
    padding: 20px; /* Add padding */
    margin: 100px auto;
    /*background-color: #e19c9c;*/
}

/*img {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/